<head>
    <title>Twilio Main Page</title>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/styles/main.css}" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

    <meta http-equiv="refresh" content="3;url=/getSmsForm" />
</head>
<body>
	<div id="main-content" class="container">
		<div class="alert alert-primary" role="alert">
		  You will be redirected to the SMS sending page in 3 seconds...
		</div>
    </div>
</body>
